<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <!--<th><input type="checkbox" id="check_all"></th>-->
        <th>角色名称</th>
        <th>KEY</th>
        <th>添加人</th>
        <th>添加时间</th>
        <th>编辑人</th>
        <th>编辑时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @for(role in page_info.list){
    <tr>
        <!--<td><input type="checkbox" class="i-checks" name="input[]" value="${role.roleId}"></td>-->
        <td>${role.roleName}</td>
        <td>${role.keyName}</td>
        <td>${role.createName}</td>
        <td>${role.createTime,"yyyy-MM-dd HH:mm"}</td>
        <td>${role.updateName}</td>
        <td>${role.updateTime,"yyyy-MM-dd HH:mm"}</td>
        <td >
            @if(role.keyName != 'admin'){
                @if(so.hasPermission('ROLE_EDIT')){
                <a href="${ctxPath}/role/edit_role.html?roleId=${role.roleId}"><i class="glyphicon glyphicon-pencil"></i></a>
                @}
                &nbsp;&nbsp;
                @if(so.hasPermission('ROLE_DEL')){
                <a href="${ctxPath}/role/del_role.html?roleId=${role.roleId}"><i class="glyphicon glyphicon-trash"></i></a>
                @}
            @}
        </td>
    </tr>
    @}
    </tbody>
</table>
<div class="col-sm-8 pull-right text-right">${pages}</div>

<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form',page);
    });

    $("#check_all").click(function () {
        if($('#check_all').is(':checked')) {
            $(".i-checks").prop("checked", "checked");
            // $(".i-checks").
        }else {
            $(".i-checks").removeAttr("checked");
        }
    });

    $(".i-checks").click(function () {
        if($("input[class='i-checks']:checked").length<10){
            $("#check_all").prop("checked", false);
        }else {
            $("#check_all").prop("checked", true);
        }
    });
</script>