<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.ClassUserMapper">
    <resultMap id="BaseResultMap" type="com.bolean.entity.ClassUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="class_id" jdbcType="INTEGER" property="classId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
    </resultMap>

    <resultMap id="ClassUserMap" type="com.bolean.entity.ClassUser" extends="BaseResultMap">
        <result column="class_name" jdbcType="VARCHAR" property="className" />
        <result column="class_pid" jdbcType="INTEGER" property="classPid" />
        <result column="head_img" jdbcType="VARCHAR" property="headImg" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="sex" jdbcType="BIT" property="sex" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    </resultMap>

    <sql id="Base_Column_List">
      id, class_id, user_id
    </sql>

    <sql id="Class_Column_List">
        class_name, class_pid
    </sql>

    <sql id="User_Column_List">
        head_img, real_name, sex, status, user_name, user_tel
    </sql>

    <sql id="where">
        <where>
            <if test="classId !=null and classId != ''">
                AND cu.class_id = #{classId,jdbcType=BIGINT}
            </if>
            <if test="userId !=null and userId != ''">
                AND cu.user_id = #{userId,jdbcType=BIGINT}
            </if>
        </where>
    </sql>

    <select id="selectByInfo" resultMap="ClassUserMap" parameterType="java.lang.Object">
        select
        <include refid="Base_Column_List"><property name="alias" value="cu"/></include>,
        <include refid="Class_Column_List"><property name="alias" value="c"/></include>,
        <include refid="User_Colum_List"><property name="alias" value="u"/></include>
        FROM tb_course_teacher cu
        LEFT JOIN tb_class c ON ct.class_id=c.class_id
        LEFT JOIN tb_user u ON ct.user_id=u.user_id
        <include refid="where"/>
    </select>
</mapper>