<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.ClassesMapper">
  <resultMap id="BaseResultMap" type="com.bolean.entity.Classes">
    <id column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="class_pid" jdbcType="INTEGER" property="classPid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="class_year" jdbcType="INTEGER" property="classYear" />
  </resultMap>

  <resultMap id="GradeMap" type="com.bolean.entity.Grade">
    <id column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="config_id" jdbcType="INTEGER" property="configId" />
  </resultMap>

  <sql id="Base_Column_List">
    class_id, class_name, class_pid, create_time, update_time, create_id, create_name, 
    update_id, update_name, memo, grade_id, status, class_year, grade_name
  </sql>

  <sql id="where">
    <where>
      <if test="classId !=null and classId != ''">
        AND class_id = #{classId,jdbcType=BIGINT}
      </if>
      <if test="classPid != null and classPid != ''">
        AND class_pid = #{classPid,jdbcType=BIGINT}
      </if>
      <if test="gradeId != null and gradeId != ''">
        AND grade_id = #{gradeId,jdbcType=BIGINT}
      </if>
      <if test="status != null and status != ''">
        AND status = #{status,jdbcType=BIT}
      </if>
      <if test="classYear != null and classYear != ''">
        AND DATE_FORMAT(class_year,'%Y') = #{classYear,jdbcType=BIT}
      </if>
      <if test="className != null and className !=''">
        AND class_name = #{className,jdbcType=VARCHAR}  OR class_name LIKE CONCAT('%',#{className,jdbcType=VARCHAR},'%' )
      </if>
    </where>
  </sql>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List"/>
    from tb_class
    <include refid="where"/>
  </select>

  <select id="selectByInfo" resultMap="BaseResultMap" parameterType="java.lang.Object">
    select
    <include refid="Base_Column_List"/>
    from tb_class
    <include refid="where"/>
  </select>

  <select id="selectCountByGradeIds" parameterType="java.lang.String" resultMap="GradeMap">
    SELECT count(1) FROM tb_class WHERE
    grade_id IN (${_parameter})
  </select>

  <select id="selectGradeByIds" parameterType="java.lang.String" resultMap="GradeMap">
    SELECT * FROM tb_grade
    WHERE
    grade_id IN (${_parameter})
  </select>

  <select id="selectAllGrade" parameterType="java.lang.String" resultMap="GradeMap">
    SELECT * FROM tb_grade
  </select>
</mapper>