<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.GuardianMapper">
  <resultMap id="BaseResultMap" type="com.bolean.entity.Guardian">
    <id column="guardian_id" jdbcType="INTEGER" property="guardianId" />
    <result column="guardian_name" jdbcType="VARCHAR" property="guardianName" />
    <result column="guardian_tel" jdbcType="VARCHAR" property="guardianTel" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>

  <sql id="Base_Column_List">
    guardian_id, guardian_name, guardian_tel, student_id, create_time, update_time, create_id,
    create_name, update_id, update_name, memo
  </sql>

  <sql id="where">
    <where>
      <if test="guardianId !=null and guardianId != ''">
        AND guardian_id = #{guardianId,jdbcType=BIGINT}
      </if>
      <if test="guardianTel != null and guardianTel != ''">
        AND guardian_tel = #{guardianTel,jdbcType=VARCHAR}
      </if>
      <if test="guardianName != null and guardianName !=''">
        AND guardian_name = #{guardianName,jdbcType=VARCHAR}  OR guardian_name LIKE CONCAT('%',#{guardianName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="studentId != null and studentId !=null">
        AND student_id = #{studentId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <select id="selectByInfo" parameterType="java.lang.Object" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM tb_guardian
      <include refid="where"/>
  </select>
</mapper>