<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolean.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.bolean.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>

</mapper>